*.error
*.jpg
*.json
*.out
*.png
*.sif
*.tsv
*.txt
*.zip
*backup
*csv
*tgz
.data/
.data/
.ipynb_checkpoints/
JSON
columns/
data*tgz
data*zip
database/
duckdb/
example*
filetypes/
json/
output/
research/
scripts/
slurm*out
spatial_transcriptomics/
temp*
test*
