*.error
*.jpg
*.json
*.out
*.png
*.sif
*.tsv
*.txt
*.zip
*backup
*csv
*tgz
.data/
.data/
.ipynb_checkpoints/
JSON
columns/
credentials.json
data*tgz
data*zip
database/
duckdb/
example*
filetypes/
json/
output/
research/
scripts/
slurm*out
spatial_transcriptomics/
temp*
test*
duckdatabase
sqllite
spectra-storcycle
TSV
benchmark_checksums
cell_by_gene_check
cuda
*.xlsx
.data
data
